@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background: url(Responsive\ Website\ Landing\ Page\ Design\ -\ Title\ \(Creative\ Nature\)\ -\ Only\ Using\ CSS\ &\ HTML/bg.jpg) no-repeat;
    background-size: cover; */
    background: url(https://cdn-icons-png.flaticon.com/512/1255/1255091.png?w=740)no-repeat;
    /* background-size: 20%; */
    background-color: #72dffe;
    background-position: 85% 50%;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header .logo {
    background-image: linear-gradient(
    to right,
    #fff,
    #fff 50%,
    black 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    transition: 0.3s;
    transition-property: color;
}

header .logo:hover{
    color: white;
}

header .navigation a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}
header .navigation a:hover{
    background: #fff;
}

.content{
    max-width: 650px;
    margin: 60px 100px;
}

/* edit tulisan h2 Save Nature */
.content .info h2 {
    background-image: linear-gradient(
    to right,
    #fff,
    #fff 50%,
    #226a80 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
}

/* edit tulisan Save You */
.content .info .second-line{
    background-image: linear-gradient(
    to right,
    #226a80,
    #226a80 50%,
    #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}

/* edit tulisan paragraf di bawah like nature dan be creative */
.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn{
    color: #fff;
    background: #226a80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 15px;
    transition: 0.3s;
    transition-property: background;
}

.content .info-btn:hover{
    background: #0c4f60;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: #111;
    font-size: 25px;
    transition: 0.3s;
    /* transition-property: transform; */
}

/* mengatur logo sosmed. last child agar elemen terakhir tidak berubah karena akan diberi padding */
.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
    color: whitesmoke;
}

label{
    display: none;
}

#check {
    z-index: 3;
    display: none;
}

.footer {
    text-align: center;
    padding: 10px;
}

.animated:before, .content .info h2:before {
    content: '';
    background: #54cdd6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}  

.content .info .second-line:before {
    content: '';
    background: #ffffff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}  

.animated:hover, .content .info h2:hover, .content .info .second-line:hover {
background-position: 0;
}

.animated:hover::before, .content .info h2:hover:before, .content .info .second-line:hover:before{
    width: 100%;
    } 

/* Responsive styles */

@media (max-width: 960px){
    header .navigation{
        display: none;
    }

    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover{
        color: #fff;
    }

    label .close-btn{
        display: none;
    }

    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(144, 223, 255, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .menu-btn{
        display: none;
    }

    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn{
        position: absolute;
    }

    header .logo{
        position: absolute;
        bottom: -6px;
    }

    .content .info h2{
        font-size: 40px;
        line-height: 50px;
    }

    .content .info span{
        font-size: 40px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}

@media (max-width: 560px){
    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }

    .content .info span{
        font-size: 30px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 12px;
    }
}

